.ForecastListContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .ForecastListContainer {
    flex-direction: column;
  }
}
